.section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.blog-header {
  font-size: 40px;
  padding-left: 10px;
  padding-top: 20px;
  letter-spacing: 1.1px;
  color: #242431;
  text-align: center;
}

.blog-author-text {
  letter-spacing: 1.2px;
  font-size: 18px;
  padding-left: 10px;
  color: #565673;
  text-align: center;
}