.section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.text-area-title {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.text-area-message {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 10px;
}