.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.header-nav a:hover {
  color: #5f9ea0;
}

.header-nav a {
display: inline-block;
margin: 0 10px;
font-size: 12px;
letter-spacing: 1.2px;
text-decoration: none;
color: #565673;
}

.header-nav DropDown {
  display: inline-block;
  margin: 0 10px;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #565673;
  }
