.register-container {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 450px;
  padding-top: 50px;
  margin-top:50px;
  border: 10px solid #fff;
  margin-bottom: 20px;
}

.register-text {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.register-container a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.3);
  width: 80px;
  background-color: #0073cf;
  border-radius: 10px;
  color: #fff;
}

.register-input-text {
  width: 180px;
  padding: 5px;
}

.button-section {
  margin-top: 30px;
}