.register-container {
  background-color: rgb(240, 239, 239);
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 450px;
  padding-top: 50px;
  margin-top:50px;
  border: 1px solid rgb(244, 243, 243)
}

.register-text {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.register-container a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
}