/* .blog-post{
  width: 70%;
  background-color: #fff;
} */
.iunpub-button {
  padding: 5px 10px;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  box-shadow: inset 0 -2px 0 rgba(0,0,0,.3);
  width: 90px;
  display: inline-block;
  background-color: #0073cf;
  border-radius: 10px;
  font-size: 14px;
  color: #fff;
  margin: 10px;
}

.iunpub-content {
width: 95%;
margin: 0 auto;
}

.iunpub-container {
  margin-top: 30px;
  }

.iunpub-text-area-title {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
}

.iunpub-text-area-message {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 10px;
}

.iunpub-button-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-content: center;
  margin-top: 30px;
  width: 90%;
  align-items: center;
}


.edit-post-heading {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 10px;
}